<!-- Container -->
<div class="max-w-full mx-auto bg-white shadow-lg mt-6">
  <!-- <h1>Hero Section</h1> -->
  <div
    class="bg-zinc-100 text-black text-center px-6 py-16 md:py-24 relative overflow-hidden"
  >
    <!-- Heading -->
    <h2 class="text-3xl md:text-5xl font-bold leading-tight">
      Create a blog <br class="hidden md:block" />
      worth sharing
    </h2>

    <!-- Subtext -->
    <p class="mt-4 text-sm md:text-base text-white-200 max-w-2xl mx-auto">
      Get a full suite of intuitive design features and powerful marketing tools to create a unique
      blog that leaves a lasting impression.
    </p>

    <!-- Button -->
    <button class="mt-6 bg-white text-black px-6 py-3 rounded-full font-medium shadow">
      Start Blogging
    </button>

    <p class="mt-3 text-xs text-black-300">
      Try it for free for an unlimited time and upgrade when you need.
    </p>

    <!-- Image Card -->
     @for (blog of featuredBlog; track $index) {
    <div class="mt-10 w-4/12">
      <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{blog.title}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card>

    </div>
  }
  </div>
</div>
